<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link href="@Url.Content("~/Content/screen.css")" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet'
        type='text/css' />
    <script type="text/javascript">
        var geocoder;
        var map;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-23.551753, -46.632779);
            var myOptions = {
                zoom: 17,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP

            }
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        }

        function codeAddress(address) {

            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var latlng2 = new google.maps.LatLng(result[0].geometry.location.Ua, result[0].geometry.location.Va);
                    var marker = new google.maps.Marker({
                        position: latlng2,
                        map: map,
                        title: 'title'

                    });
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {

           initialize();

           $('#cep_in').focus();

            $('#search').bind('click', function () {
            
             var url = "@Url.Action("DadosLogradouro", "Home")";
             
             $.getJSON(url + "/" + $('#cep_in').val(), function (data) {
                    $.each(data, function (key, val) {
                       $("#" + key + "").html(val);
                    });


                    var end = $("#Endereco").html().substring(0, $("#Endereco").html().indexOf("-"));

                    if (end == "") {
                        end = $("#Endereco").html();
                    }

                    end += "," +  $("#Localidade").html().substring(0, $("#Localidade").html().indexOf("/"));
                    end += ", " + $("#cep_in").val();

                  codeAddress(end);
                   
                });
                
             
            });
            
        });

    </script>
    <style type="text/css">
        html
        {
            height: 100%;
        }
        body
        {
            height: 100%;
            margin: 0px;
            padding: 0px;
            background:url("@Url.Content("~/Content/back.png")") repeat;
        }
        #map_canvas
        {
            width: 529px;
            height: 400px;
        }
        .box
        {
            width: 529px;
            height: 400px;
            border: 1px solid #ccc;
            padding: 10px;
            box-shadow: 1px 1px 3px #ccc;
            background-color: white;
        }
        .search input[type=text]
        {
            float: left;
            width: 460px;
            padding: 8px;
            border: 1px solid #4B8EFA;
            box-shadow: 1px 1px 3px #ccc;
        }
        .search input[type=button]
        {
            margin-top: 7px;
            float: right;
            background-color: #4B8EFA;
            border: 0;
            display: block;
            color: white;
            padding: 8px;
            cursor: pointer;
            box-shadow: 1px 1px 3px #ccc;
        }
        h1
        {
            text-align: center;
            font-family: 'Shadows Into Light Two' , cursive;
            margin-top: 15px;
            font-size: 45px;
        }
        h2
        {
            margin-top: 15px;
        }
        p
        {
            font-size: 15px;
        }
    </style>
    <title>Busca Cep</title>
</head>
<body>
    <a href="http://github.com/sinhorinho/BuscaCep">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
            alt="Fork me on GitHub">
    </a>
    <div class="container">
        <div class="span-24">
            <div class="push-5 span-14">
                <h1>
                    Busca Cep</h1>
                <h2>
                    Como pesquisar</h2>
                <p>
                    Este <em>Busca Cep</em> efetua uma requisição diretamente na Base de Dados dos correios.
                    <br />
                    Digite o Cep e clique no botão <em>"buscar"</em>
                </p>
            </div>
        </div>
        <div class="push-5 span-14">
            <div class="search">
                <input id="cep_in" placeholder="Digite o Cep" type="text" />
                <input id="search" type="button" value="Buscar" />
                <div class="clear">
                </div>
            </div>
            <fieldset>
                <span><strong>Endereço: </strong></span><span id="Endereco"></span>
                <br />
                <span><strong>Bairro: </strong></span><span id="Bairro"></span>
                <br />
                <span><strong>Localidade: </strong></span><span id="Localidade"></span>
            </fieldset>
            <div class="box">
                <div id="map_canvas">
                </div>
            </div>
            <div style="text-align: center;">
                <a href="http://github.com/sinhorinho/BuscaCep">Código Fonte <em>BuscaCep</em></a>
            </div>
        </div>
        <br />
    </div>
</body>
</html>
@ViewBag.Message
